.input-value-coord{
  padding: 5px;
    text-align: right;
    font-size: 16px;
    transition: var(--transition);

}
.input-value-pct{
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

td {
    padding: 2px ;
}
/*#local_submit{*/
/*  width: 98%;*/
/*    margin-left:3.5px;*/
/*}*/
