.card-clienti{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: all 0.3s linear;
    /*transition: --transition;*/

    padding: 14px 24px;
    cursor: pointer;
    height: 200px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 10px 0;
}
.card-clienti:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}