/*#alba{*/
/*    background-image: url("./img/logos/apple-touch-icon-57x57.png");*/
/*}*/
.icon-main{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    z-index: 1;
    opacity: .7;
    font-size: 40px;
}
.icon-small{
   height: 80px;
}
.blue-background{
    background-color: var(--clr-mc);
}