
.icon-main{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    z-index: 1;
    opacity: .7;
    font-size: 40px;
}
.icon-small{
    height: 80px;
    margin-top: 24px;
}
.blue-background{
    background-color: var(--clr-mc);
}

#county-image-alba {
    margin-top: 35px;
    margin-right: 5px;
}

#county-image-arad {
    margin-top: 30px;
    margin-right: 5px;
    height: 70px;
}
@media screen and (max-width: 767px) {
    #county-image-arad {
        margin-top: 24px;
    }
}

#county-image-arges {
    margin-top: 30px;
}

#county-image-bistrita-nasaud {
    margin-top: 36px;
    height: 70px;
}

#county-image-botosani {
    margin-top: 30px;
    margin-left: 5px;
}

#county-image-brasov {
    margin-top: 30px;
    margin-left: 15px;
}

#county-image-braila {
    margin-right: 5px;
    height: 70px;
}

#county-image-cluj {
    margin-top: 12px;
    margin-right: 12px;
}

#county-image-constanta {
    margin-right: 20px;
}

#county-image-dambovita {
    margin-left: 14px;
}

#county-image-gorj {
    margin-right: 24px;
}

#county-image-harghita {
    margin-left: 4px;
}

#county-image-hunedoara {
    margin-left: 10px;
}

#county-image-ialomita {
    margin-top: 30px;
    width: 144px;
}

#county-image-iasi {
    margin-top: 30px;
}

#county-container-ilfov h5 {
    margin-bottom: 8px;
}
#county-container-ilfov p {
    margin-bottom: 36px;
    margin-left: 16px;
}

#county-image-mehedinti {
    margin-right: 20px;
}

#county-image-olt {
    margin-right: 10px;
}

#county-image-suceava {
    margin-top: 30px;
}

#county-image-teleorman {
    margin-right: 8px;
}

#county-image-timis {
    margin-top: 30px;
}

#county-image-tulcea {
    margin-top: 16px;
}

#county-image-vaslui {
    margin-right: 10px;
}

#county-image-valcea {
    margin-right: 10px;
}

