/*#alba{*/
/*    background-image: url("./img/logos/apple-touch-icon-57x57.png");*/
/*}*/
.icon-main{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 75%;
    z-index: 1;
    opacity: .5;
    font-size: 40px;
    color: #ccc;
}
.icon-small{
   height: 80px;
}